@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@300;400&display=swap");
.discount__text, .action__text, .footer__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.text, .header__box, .action__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.header__link, .header__title, .action__span {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body,
html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: #000;
  margin-bottom: 26px;
}

.text {
  font-size: 16px;
  line-height: 154.8%;
  color: #777;
}

.link {
  padding: 20px 78px;
  border: 1px solid #47093e;
  border-radius: 33.5px;
  font-size: 18px;
  line-height: 21px;
  color: #47093e;
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  border: none;
}

.header {
  padding: 31px 0 101px;
  background: url("../img/header-bg.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}

.header .logo {
  z-index: 12;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  inset: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 55px 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background: #7a7a7a;
  padding-left: 150px;
  background-repeat: no-repeat;
  z-index: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  z-index: 12;
}

.header__menu--active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.header__link {
  font-size: 16px;
  line-height: 100%;
  color: #000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header__link:hover {
  color: #771373;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__location {
  margin: 0 44px 0 52px;
}

.header__btn-menu {
  z-index: 12;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 62px;
  overflow-x: hidden;
}

.header__info {
  max-width: 360px;
}

.header__title {
  font-size: 55px;
  line-height: 100%;
  color: #000;
  margin-bottom: 159px;
  z-index: 10;
  position: relative;
}

.header__box + .header__box {
  margin-top: 32px;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 30px;
  font-size: 18px;
  line-height: 21px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #590d56;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 56px;
}

.header__slider {
  max-width: 940px;
  -webkit-transform: translateX(-175px);
          transform: translateX(-175px);
  margin-bottom: 59px;
}

.header__items, .header__card {
  max-width: 940px;
}

.header__card {
  max-width: 940px;
  min-height: 490px;
}

.header__card img {
  width: 940px;
  height: 490px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .slick-arrow {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 68px;
  height: 68px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}

.header .slick-next.slick-arrow {
  right: 304px;
}

.header .slick-prev.slick-arrow {
  right: 402px;
  z-index: 10;
}

.header__more {
  border: 1px solid #fff;
  border-radius: 33.5px;
  padding: 20px 79px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.discount {
  border-top: 1px solid #47093e;
  border-bottom: 1px solid #47093e;
}

.discount__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 16px 0 22px;
  gap: 0 30px;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #590d56;
  white-space: nowrap;
  -webkit-animation: marquee 30s linear infinite;
          animation: marquee 30s linear infinite;
  overflow-x: hidden;
  overflow-y: hidden;
}

.discount__text span {
  width: 640px;
}

.discount__text:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  /* Пауза */
}

@-webkit-keyframes marquee {
  from {
    text-indent: 100%;
  }
  to {
    text-indent: -100%;
  }
}

@keyframes marquee {
  from {
    text-indent: 100%;
  }
  to {
    text-indent: -100%;
  }
}

.action {
  padding-top: 103px;
}

.action__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 128px;
}

.action__item {
  max-width: 360px;
  gap: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action__span {
  max-width: 170px;
  font-size: 16px;
  line-height: 154.8%;
  color: #242424;
}

.action__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 30px;
}

.action__info {
  max-width: 236px;
}

.action__box {
  width: 848px;
  min-height: 194px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #47093e;
  border-bottom: 1px solid #47093e;
  padding: 21px 0 32px;
  position: relative;
}

.action__box .action__circle {
  position: absolute;
  z-index: 1;
}

.action__box:nth-child(2), .action__box:nth-child(3), .action__box:nth-child(4), .action__box:nth-child(5) {
  border-top: none;
}

.action__circle {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background: #590d56;
}

.action__circle--first {
  left: 118px;
  top: 13px;
}

.action__circle--second {
  right: 0;
  top: 25px;
}

.action__circle--three {
  left: 51px;
  top: -21px;
}

.action__circle--four {
  right: 42px;
  bottom: -22px;
}

.action__circle--five {
  left: 125px;
  bottom: -10px;
}

.action__link {
  font-size: 18px;
  line-height: 21px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #590d56;
  margin-top: auto;
}

.action__text {
  max-width: 360px;
  font-size: 30px;
  line-height: 100%;
  color: #000;
  margin-left: 159px;
  padding: 28px 0;
  margin-right: auto;
}

.production {
  padding: 350px 0 126px;
  padding-bottom: 429px;
  background: url("../img/icons/production-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.production__title {
  max-width: 263px;
}

.production__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 30px;
  margin-bottom: 35px;
}

.production__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 30px;
  max-width: 848px;
}

.production__thumb {
  width: 263px;
  height: 150px;
}

.production__thumb-item, .production__thumb-card {
  width: 263px;
  height: 150px;
}

.production__thumb-card img {
  width: 263px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}

.production__nav {
  width: 458px;
  height: 270px;
}

.production__nav-item .production__nav-card {
  width: 458px;
  height: 270px;
}

.production__nav-card {
  position: relative;
}

.production__nav-card .production__play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.production__nav-card img {
  width: 458px;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.production .slick-arrow {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 68px;
  height: 68px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  right: -81px;
  z-index: 2;
}

.production .slick-prev.slick-arrow {
  top: 54px;
}

.production .slick-next.slick-arrow {
  bottom: 54px;
}

.production__play {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #47093e;
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 2;
}

.production__more {
  margin-left: auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  padding: 21px 78px;
  border: 1px solid #fff;
  border-radius: 33.5px;
}

.specialist {
  padding: 47px 0 26px;
}

.specialist__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.specialist__info {
  max-width: 263px;
}

.specialist__slider {
  width: 847px;
}

.specialist__item, .specialist__card {
  width: 847px;
}

.specialist__card {
  min-height: 570px;
  position: relative;
}

.specialist__card .specialist__play {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.specialist__play {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #47093e;
}

.specialist__img {
  width: 847px;
  height: 570px;
  -o-object-fit: cover;
     object-fit: cover;
}

.specialist .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 16px;
  position: absolute;
  bottom: -30px;
  padding: 0;
}

.specialist .slick-dots li {
  font-size: 0;
  padding: 0;
  width: 0;
  height: 0;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 16px;
  height: 16px;
  border: 1px solid #47093e;
}

.specialist .slick-dots li button {
  font-size: 0;
  padding: 0;
  width: 0;
  height: 0;
  display: none;
}

.specialist .slick-dots li.slick-active {
  background: #590d56;
}

.information {
  padding: 237px 0 54px;
  background: url("../img/information-bg.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
}

.information__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
}

.information__info {
  max-width: 263px;
}

.information__text {
  color: #fff;
  text-transform: lowercase;
}

.information__span {
  text-transform: uppercase;
}

.information__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 849px;
  gap: 30px;
}

.information__card {
  background-repeat: no-repeat;
  background-position: center;
  padding: 24px 21px;
  position: relative;
}

.information__card::before {
  position: absolute;
  content: "";
  inset: 0;
}

.information__card--one {
  width: 263px;
  height: 457px;
}

.information__card--one::before {
  background: linear-gradient(179.96deg, rgba(71, 9, 62, 0.9) -0.95%, rgba(71, 9, 62, 0) 99.97%);
}

.information__wrapper {
  max-width: 556px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.information__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information__card--second, .information__card--three {
  width: 263px;
  height: 263px;
  background-repeat: no-repeat;
}

.information__card--second::before {
  background: linear-gradient(180.79deg, rgba(71, 9, 62, 0.8) 0.68%, rgba(71, 9, 62, 0) 99.32%);
}

.information__card--three::before {
  background: linear-gradient(180.68deg, rgba(71, 9, 62, 0.9) 0.59%, rgba(71, 9, 62, 0) 99.41%);
}

.information__card--four {
  background: #47093e;
  width: 556px;
  height: 165px;
  margin-top: auto;
}

.information__slogan {
  font-weight: 300;
  font-size: 36px;
  line-height: 100%;
  color: #fff;
  position: relative;
  z-index: 1;
}

.information__more {
  display: block;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.buy {
  padding: 29px 0 94px;
}

.buy__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buy__info {
  max-width: 263px;
  margin-bottom: 231px;
  margin-bottom: 0;
}

.buy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 0 30px;
}

.buy__link {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.buy__link:hover {
  color: #fff;
  background: #590d56;
  border-radius: 90px;
}

.footer {
  padding: 29px 0 24px;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
}

.footer::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: -61px;
  height: 61px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-7.14%, rgba(71, 9, 62, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(360deg, rgba(71, 9, 62, 0.5) -7.14%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
}

.footer__title {
  font-size: 31px;
  line-height: 100%;
  letter-spacing: 0.04em;
  color: rgba(84, 12, 80, 0.8);
  margin-bottom: 50px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__container {
  max-width: 320px;
}

.footer__text {
  font-size: 12px;
  line-height: 100%;
  color: #7a7a7a;
  margin-bottom: 41px;
}

.footer__address {
  font-size: 14px;
  line-height: 130%;
  color: #828282;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 41px;
  margin-bottom: 35px;
}

.footer__create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 14px;
}

.footer__create p {
  font-size: 16px;
  line-height: 20px;
  color: #828282;
}

@media (max-width: 1260px) {
  .production {
    padding: 285px 0 100px;
  }
}

@media (max-width: 1210px) {
  .production {
    padding: 285px 0 68px;
  }
  .information__info {
    max-width: 100%;
  }
  .information__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px 0;
  }
  .information__card--one {
    width: 250px;
    height: 457px;
  }
}

@media (max-width: 1150px) {
  .action {
    padding-top: 80px;
  }
  .action__list {
    margin-bottom: 80px;
  }
  .action__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .action__box {
    max-width: 768px;
  }
  .action__circle--first {
    left: 100px;
    top: 13px;
  }
  .action__circle--five {
    left: 95px;
    bottom: 50px;
  }
  .specialist__inner {
    gap: 0 15px;
  }
  .specialist__slider {
    max-width: 785px;
  }
  .specialist__item, .specialist__card {
    max-width: 785px;
  }
  .specialist__card {
    min-height: 550px;
  }
  .specialist__img {
    width: 785px;
    height: 550px;
  }
  .buy__img {
    border: 1px solid #000;
    width: 700px;
  }
}

@media (max-width: 1060px) {
  .action__circle {
    overflow: hidden;
  }
  .action__box {
    max-width: 650px;
  }
  .specialist__slider {
    max-width: 750px;
  }
  .specialist__item, .specialist__card {
    max-width: 750px;
  }
  .specialist__card {
    min-height: 550px;
  }
  .specialist__img {
    width: 750px;
    height: 550px;
  }
  .information {
    padding: 150px 0 55px;
  }
}

@media (max-width: 1030px) {
  .specialist__slider {
    max-width: 700px;
  }
  .specialist__item, .specialist__card {
    max-width: 700px;
  }
  .specialist__card {
    min-height: 500px;
  }
  .specialist__img {
    width: 700px;
    height: 500px;
  }
}

@media (max-width: 1000px) {
  .action__item {
    max-width: 345px;
  }
  .action__span {
    font-size: 18px;
  }
  .specialist__slider {
    max-width: 650px;
  }
  .specialist__item, .specialist__card {
    max-width: 650px;
  }
  .specialist__card {
    min-height: 480px;
  }
  .specialist__img {
    width: 650px;
    height: 480px;
  }
  .buy__img {
    width: 680px;
  }
}

@media (max-width: 945px) {
  .action__inner {
    gap: 0 20px;
  }
  .action__text {
    margin-left: 55px;
    max-width: 100%;
  }
  .action__box {
    min-height: 120px;
  }
  .action__circle {
    width: 90px;
    height: 90px;
  }
  .action__circle--first {
    left: 45px;
    top: -25px;
  }
  .action__circle--second {
    right: 0;
    top: 95px;
  }
  .action__circle--five {
    left: 40px;
    bottom: 75px;
  }
  .buy__img {
    width: 650px;
  }
  .buy__inner {
    gap: 0 15px;
  }
}

@media (max-width: 925px) {
  .action .title {
    margin-bottom: 15px;
  }
  .action__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px 0;
  }
  .action__info {
    max-width: 100%;
  }
  .action__box {
    max-width: 100%;
    margin: 0 auto;
  }
  .specialist__slider {
    max-width: 600px;
  }
  .specialist__item, .specialist__card {
    max-width: 600px;
  }
  .specialist__card {
    min-height: 450px;
  }
  .specialist__img {
    width: 600px;
    height: 450px;
  }
}

@media (max-width: 885px) {
  .action {
    padding-top: 60px;
  }
  .specialist__slider {
    max-width: 580px;
  }
  .specialist__item, .specialist__card {
    max-width: 580px;
  }
  .specialist__card {
    min-height: 400px;
  }
  .specialist__img {
    width: 580px;
    height: 400px;
  }
  .information .container {
    padding: 0;
  }
  .information__info {
    padding-left: 15px;
  }
  .information__more {
    margin-right: 15px;
  }
  .buy__img {
    width: 575px;
  }
}

@media (max-width: 850px) {
  .action__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    margin-bottom: 55px;
  }
  .specialist__info {
    max-width: 100%;
  }
  .specialist__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px 0;
  }
  .specialist__slider {
    max-width: 725px;
  }
  .specialist__item, .specialist__card {
    max-width: 725px;
  }
  .specialist__img {
    width: 725px;
  }
  .information {
    padding: 100px 0 55px;
  }
  .information__card {
    padding: 15px 18px;
  }
  .information__slogan {
    font-size: 28px;
  }
  .buy__img {
    width: 500px;
  }
}

@media (max-width: 800px) {
  .information__content {
    max-width: 100%;
    gap: 30px;
  }
  .information__wrapper {
    max-width: 100%;
  }
  .information__card--second, .information__card--three {
    width: 278px;
  }
}

@media (max-width: 768px) {
  .discount__text {
    padding: 16px 0px;
    font-size: 45px;
  }
  .action__text {
    font-size: 25px;
    padding: 25px 0;
    margin-right: auto;
  }
  .specialist__slider {
    max-width: 650px;
  }
  .specialist__item, .specialist__card {
    max-width: 650px;
  }
  .specialist__img {
    width: 650px;
  }
  .information__content {
    gap: 0;
  }
  .information__card--one {
    width: 194px;
    height: 428px;
  }
  .information__card--four {
    margin-top: 0;
  }
  .buy__img {
    width: 470px;
  }
}

@media (max-width: 768px) {
  .discount__text {
    padding: 10px 0px;
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .action__text {
    margin-left: 35px;
  }
  .action__circle {
    width: 75px;
    height: 75px;
    top: -26px;
    right: 0px;
  }
}

@media (max-width: 712px) {
  .information__wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .information__card--second, .information__card--three {
    width: 250px;
  }
  .information__card--four {
    width: 500px;
  }
  .information__slogan {
    font-size: 25px;
  }
  .buy__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px 0;
  }
  .buy__info {
    max-width: 100%;
  }
  .buy .link {
    padding: 16px 45px;
    font-size: 18px;
  }
}

@media (max-width: 680px) {
  .specialist__slider {
    max-width: 600px;
  }
  .specialist__item, .specialist__card {
    max-width: 600px;
  }
  .specialist__img {
    width: 600px;
  }
  .information__card {
    padding: 10px 15px;
  }
  .information__card--second, .information__card--three {
    width: 235px;
  }
  .information__card--four {
    width: 470px;
  }
}

@media (max-width: 645px) {
  .action {
    padding-top: 45px;
  }
  .action__text {
    padding: 0;
  }
  .action__circle {
    width: 60px;
    height: 60px;
    left: 0;
  }
  .action__item {
    max-width: 100%;
    text-align: center;
  }
  .action__span {
    max-width: 100%;
  }
}

@media (max-width: 635px) {
  .specialist__slider {
    max-width: 580px;
  }
  .specialist__item, .specialist__card {
    max-width: 580px;
  }
  .specialist__img {
    width: 580px;
  }
}

@media (max-width: 615px) {
  .specialist__slider {
    max-width: 550px;
  }
  .specialist__item, .specialist__card {
    max-width: 550px;
  }
  .specialist__img {
    width: 550px;
  }
  .information__card--one {
    height: 365px;
  }
  .information__card--second, .information__card--three {
    width: 200px;
    height: 200px;
  }
  .information__card--four {
    width: 400px;
  }
}

@media (max-width: 595px) {
  .information__card--one {
    width: 170px;
  }
  .information__card--second, .information__card--three {
    width: 203px;
    height: 200px;
  }
  .information__card--four {
    width: 407px;
  }
}

@media (max-width: 575px) {
  .specialist__slider {
    max-width: 500px;
  }
  .specialist__item, .specialist__card {
    max-width: 500px;
  }
  .specialist__img {
    width: 500px;
  }
  .information__card--one {
    display: none;
  }
  .information__card--second, .information__card--three {
    width: 279px;
    height: 200px;
  }
  .information__card--four {
    width: 558px;
  }
  .buy__list {
    gap: 0 15px;
  }
  .buy .link {
    padding: 16px 35px;
  }
}

@media (max-width: 530px) {
  .specialist__slider {
    max-width: 475px;
  }
  .specialist__item, .specialist__card {
    max-width: 475px;
  }
  .specialist__card {
    min-height: 375px;
  }
  .specialist__img {
    width: 475px;
    height: 375px;
  }
  .information__card--second, .information__card--three {
    max-width: 100%;
    max-height: 200px;
  }
  .information__card--four {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .specialist__slider {
    max-width: 440px;
  }
  .specialist__item, .specialist__card {
    max-width: 440px;
  }
  .specialist__card {
    min-height: 375px;
  }
  .specialist__img {
    width: 440px;
    height: 375px;
  }
  .buy .link {
    padding: 10px 25px;
    font-size: 17px;
  }
}

@media (max-width: 475px) {
  .action__circle {
    display: none;
  }
  .action__box {
    min-height: 100px;
  }
  .action__list {
    gap: 15px;
    margin-bottom: 35px;
  }
  .action__text {
    text-align: center;
    font-size: 20px;
    margin-left: 30px;
  }
  .specialist__slider {
    max-width: 400px;
  }
  .specialist__item, .specialist__card {
    max-width: 400px;
  }
  .specialist__card {
    min-height: 350px;
  }
  .specialist__img {
    width: 400px;
    height: 350px;
  }
}

@media (max-width: 415px) {
  .buy__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 15px;
  }
  .buy .link {
    display: block;
  }
}

@media (max-width: 375px) {
  .discount__text {
    padding: 5px 0px;
    font-size: 30px;
  }
  .action {
    text-align: center;
  }
  .action__item {
    gap: 0;
  }
  .action__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px 0;
    text-align: center;
  }
  .action__text {
    margin: 0;
  }
  .specialist .title {
    font-size: 27px;
    margin-bottom: 20px;
  }
  .specialist .text {
    font-size: 17px;
  }
  .specialist__slider {
    max-width: 345px;
  }
  .specialist__item, .specialist__card {
    max-width: 345px;
  }
  .specialist__card {
    min-height: 250px;
  }
  .specialist__img {
    width: 345px;
    height: 250px;
  }
  .specialist__play {
    width: 55px;
    height: 55px;
  }
  .information {
    background-position-y: bottom;
    padding: 55px 0;
  }
  .information .title {
    font-size: 26px;
  }
  .information__card--one {
    display: none;
  }
  .information__card--second, .information__card--three {
    width: 179px;
  }
  .information__card--four {
    width: 358px;
  }
  .information__slogan {
    font-size: 20px;
  }
  .information .link {
    padding: 18px 70px;
    font-size: 20px;
  }
  .buy {
    padding: 30px 0;
  }
}

@media (max-width: 320px) {
  .action__span {
    font-size: 16px;
  }
  .action__list {
    margin-bottom: 25px;
  }
  .specialist .title {
    font-size: 23px;
  }
  .specialist__slider {
    max-width: 288px;
  }
  .specialist__item, .specialist__card {
    max-width: 288px;
  }
  .specialist__card {
    min-height: 220px;
  }
  .specialist__img {
    width: 288px;
    height: 220px;
  }
  .information .title {
    font-size: 27px;
    text-align: center;
  }
  .information__card--second, .information__card--three {
    width: 152px;
  }
  .information__card--four {
    width: 303px;
  }
}
/*# sourceMappingURL=style.css.map */