%roboto-300 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
}

%roboto-400 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

%merriweather-700 {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
}

%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
